<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpectralCommand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NetworkController.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <SpectralCommand.Properties.Settings>
      <setting name="IP_Address" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>65432</value>
      </setting>
      <setting name="FPS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Gain" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Exposure" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BItDepth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Save_format" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="SensorResponce" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SensorDrivenExposure" serializeAs="String">
        <value>False</value>
      </setting>
    </SpectralCommand.Properties.Settings>
    <NetworkController.Properties.Settings>
      <setting name="IP_Address" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>80</value>
      </setting>
    </NetworkController.Properties.Settings>
  </userSettings>
</configuration>